<h4>
<small>Get Hotels</small>
<small class="pull-right">
  <a (click)="getHotels();">
    Refresh
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </a>
</small>
</h4>
<table class="table table-hove" [mfData]="hotels.content" #mf="mfDataTable" [mfRowsOnPage]="rowsPerPage">
  <thead>
    <tr>
      <th style="width: 10%">
        <mfDefaultSorter by="id">#</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="name">Name</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="city">City</mfDefaultSorter>
      </th>
      <th style="width: 40%">
        <mfDefaultSorter by="description">Description</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="rating">Rating</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.city}}</td>
      <td>{{item.description}}</td>
      <td>{{item.rating}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[10, 20]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>