<app-header></app-header>
<div class="container">
  <ng-content></ng-content>
  <div class="row content  mb-5">
    <div class="col-sm-9">
      <app-datatable></app-datatable>
    </div>
    <div class="col-sm-3 sidenav">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
<app-footer></app-footer>
