<h6>Get GitHub User Details</h6>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">
      <i class="fa fa-github"></i>
    </span>
  </div>
  <input type="text" [(ngModel)]="gitHubUserName" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  <button (click)="submitUsername(gitHubUserName);" class="btn btn-primary">Get</button>
</div>

<div class="profile-sidebar" *ngIf="userdetails.id">
  <div class="profile-userpic">
    <img src="{{userdetails.avatar_url}}" class="img-responsive" alt="">
  </div>

  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      {{userdetails.name}}
    </div>
    <div class="profile-usertitle-job">
      {{userdetails.location}}
    </div>
  </div>

  <div class="profile-userbuttons">
    <button type="button" class="btn btn-success btn-sm">Followers
      <span class="badge">{{userdetails.followers}}</span>
    </button>
    <button type="button" class="btn btn-danger btn-s">Following
      <span class="badge">{{userdetails.following}}</span>
    </button>
  </div>

  <div class="profile-usermenu">
    <ul class="nav">
      <li class="active">
        <li>
          <a href="{{userdetails.html_url}}" target="_blank">
            <i class="glyphicon glyphicon-ok"></i>
            Git Profile </a>
        </li>
    </ul>
  </div>
</div>